<div class="container p-4">
    <div >
        {{#each listElement}}
        <div class="p-1">
            <div class="card text-center">
                <div class="list-date">
                    <a href="/lists/editlist/{{id}}">
                        <h3 class="card-title text-uppercase" id={{id}}>
                            {{todate date}}
                        </h3>
                    </a>
                    <h4 class="m-2">ID: {{id}}</h4>
                    <div class="list-buttons">
                        <a class="btn btn-danger" onclick="displaybox({{id}})">Delete</a>
                        <a href="/lists/editlist/{{id}}" class="btn btn-secondary">Edit</a>
                    </div>
                    
                </div>
            </div>
        </div>


        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not transactions saved yet</p>
                <a href="/lists/addlist">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
    

</div>
<div class="confirm-box" id="confirm-box">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title text-uppercase" id="confirm-text">
    
                </h4>
                <a href="/lists/" class="btn btn-success">NO, keep it</a>
                <a id="confirm-delete" href="" class="btn btn-danger">YES, delete it</a>
            </div>
    </div>
    <script>
        function displaybox(id){
        let box = document.getElementById(`confirm-box`)
        let text = document.getElementById(`confirm-text`)
        let cdelete = document.getElementById(`confirm-delete`)
        text.innerText = `Are you sure to delete list id:${id}?`
        cdelete.href = `/lists/deletelist/${id}`
        box.style.display = "block"
        };
    </script>
</div>