<div class="container p-4">
    <div class="row">
        <p class="text-center">Results based on your search:</p>
        {{#each data}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/lists/editlist/{{id_date}}">
                        <h3 class="card-title text-uppercase">
                            {{todate date}}
                        </h3>
                    </a>
                    <h4 class="m-2">ID: {{id_date}}</h4>
                    <p>Local {{local}}: {{nombre}}</p>
                    {{!-- <a href="/lists/deletelist/{{id}}" class="btn btn-danger">Delete</a> --}}
                    <a class="btn btn-danger" onclick="displaybox({{id_date}})">Delete</a>
                    <a href="/lists/editlist/{{id_date}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>


        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Not found</p>
                <a href="/lists/addlist">Create it!</a>
                <a href="/lists">Go back</a>
            </div>
        </div>
        {{/each}}
    </div>
    

</div>
<div class="confirm-box" id="confirm-box">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title text-uppercase" id="confirm-text">
    
                </h4>
                <a href="/lists/" class="btn btn-success">NO, keep it</a>
                <a id="confirm-delete" href="" class="btn btn-danger">YES, delete it</a>
            </div>
    </div>
    <script>
        function displaybox(id){
        let box = document.getElementById(`confirm-box`)
        let text = document.getElementById(`confirm-text`)
        let cdelete = document.getElementById(`confirm-delete`)
        text.innerText = `Are you sure to delete list id:${id}?`
        cdelete.href = `/lists/deletelist/${id}`
        box.style.display = "block"
        };
    </script>
</div>